#products {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background: var(--primary-color);
  position: relative;
}

.product-img {
  width: 100%;
  border-radius: 6px;
  height: 200px;
  object-fit: contain;
}

.price {
  margin: 10px 0;
  font-size: 18px;
}

.old-price {
  text-decoration: line-through;
  color: gray;
  margin-right: 10px;
}

.new-price {
  font-weight: bold;
  color: #e53935;
}

.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #e53935;
  color: var(--text-color);
  padding: 4px 8px;
  border-radius: 5px;
}

.in-store.yes {
  color: green;
}

.in-store.no {
  color: red;
}

/* Карточки */

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background: var(--primary-color);
  color: var(--text-color);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-brand {
  font-weight: bold;
}

.more-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  background: var(--secondary-color-dark);
  color: var(--text-color);
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
}

.more-btn:hover {
  background: #005fcc;
}


/* Модальное окно */

.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background: var(--primary-color);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: var(--primary-color);
  padding: 20px;
  width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 12px;
  position: relative;
}

.close {
  position: absolute;
  right: 15px;
  top: 10px;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

.modal-img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
  height: 200px;
  object-fit: contain;
}



#categoryButtons {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.category-btn {
  padding: 8px 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  background: var(--primary-color);
  border-radius: 6px;
  cursor: pointer;
}

.category-btn.active {
  background: #007bff;
  color: var(--text-color);
  border-color: #007bff;
}



/* затемнение */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}

/* окно */
.modal-content {
  background: var(--primary-color);
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  color: var(--text-color);
}

.modal-content h3 {
  text-align: center;
  color: var(--text-color);
}

#categoryList button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  background: var(--primary-color-light);
  border-radius: 6px;
  cursor: pointer;
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

#categoryList button:hover {
  background: #ddd;
}

#openCategories {
  position: sticky;
  top: 80px;
  z-index: 1002;

  /* стиль кнопки */
  background-color: var(--secondary-color-dark);
  /* насыщённый жёлтый */
  color: var(--text-color);
  /* тёмный текст для контраста */
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.15s ease;
}

/* hover */
#openCategories:hover {
  background-color: #ffcc00;
  transform: translateY(-2px);
}

/* active */
#openCategories:active {
  background-color: #e6b800;
  transform: translateY(0);
}

#priceFilter {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}


#priceFilter input {
  padding: 8px;
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#priceFilter button {
  padding: 8px 14px;
  border: none;
  background: var(--secondary-color-dark);
  color: var(--text-color);
  border-radius: 6px;
  cursor: pointer;
}

#priceFilter button:hover {
  background: #005fcc;
}

@media (max-width:768px) {
  #priceFilter {
    flex-direction: column;
    max-width: 300px;
    align-items: stretch;
  }

  #priceFilter input {
    width: 100%;
  }
}

button{
  color: var(--primary-color-dark) !important;
}